.simple-modal {
    height: 280px;
}

.simple-modal-message-container {
    height: 80px;
}

.modal-input-container {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.team-name-text-input {
    background-color: rgb(240, 240, 255);
    border: 1px solid rgb(180, 180, 240);
    border-radius: 10px;

    font-size: 18px;
    padding: 10px;
}

.name-header {
    font-size: 20px;
    color: rgb(100, 100, 160);
}

.name-header-container {
    height: 20px;
}

.input-container {
    height: 70px;
}

.simple-modal-buttons-container {
    height: 100px;
}