.simple-page-component {
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 10vh;
}


.teams-header {
    width: 750px;
    height: 100px;
    
    font-size: 2rem;

    background: repeating-linear-gradient(85deg, rgb(180, 210, 255), rgb(160, 200, 255), rgb(160, 210, 255));
    background-position: fixed;

    color: white;
    font-weight: 700;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px
}

.table-space {
    width: 700px;
    height: 500px;

    padding-right: 25px;
    padding-left: 25px;

    background: linear-gradient(60deg, rgb(240, 240, 255), rgb(255, 255, 255), rgb(240, 240, 255));

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

}

.create-team-button-container {
    width: 700px;
    height: 60px;
}