.team-row-component {
    display: flex;
    align-items: center;

    width: 700px;
    height: 80px;
}

.team-name-container, .team-rating-container { 
    height: 80px;
    font-size: 20px;

    font-weight: 700;

    color: rgb(62, 62, 129)
}

.team-name-container {   
    width: 200px;
    text-align: center;
}

.team-rating-container {
    width: 100px;
}

.edit-button-container, .remove-button-container {
    width: 150px;
    height: 100%;
}


.light-row-background { 
    background-color: rgb(240, 240, 255);
}

