.teams-table-component {
    width: 700px;
    height: 380px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;
}

.teams-table-component::-webkit-scrollbar { 
    width: 25px;
}

.teams-table-component::-webkit-scrollbar-thumb {
    background-color: rgb(166, 192, 218);
    border-radius: 20px;
}

.teams-table-component::-webkit-scrollbar-thumb:hover {
    background-color: rgb(92, 123, 182);
}

.teams-table-component::-webkit-scrollbar-track {
    background-color: rgb(211, 221, 235);
    border-radius: 20px;
    /* margin-right: 10px; */

}

.my-div {
    margin-top: 50px;

    height: 500px;
    width: 700px;

    background-image: linear-gradient(to left bottom, red, blue);
    background-size: 100px 100px;

    /* 
    background: repeating-linear-gradient(45deg, red, green, blue, red);


    background-repeat: repeat-x; */

}