:root {
  --color-dark-text: rgba(160, 160, 160, 1);
  --color-overlay: rgba(0, 0, 0, 0.3);
 
}

body {
    font-family: Arial, Helvetica, sans-serif
}

p {
  margin: 0;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: var(--color-overlay);
  
  z-index: 1;
}

.simple-modal {
  width: 600px;
  height: 400px;

  /* background-color: white; */
  
  background: radial-gradient(circle at center, rgb(250, 250, 255), rgb(240, 240, 255));

  border-radius: 15px;

  border: 1px solid rgb(200, 200, 255);

  z-index: 2;
}

.simple-modal-message-container {
  height: 200px;

  color: rgb(100, 100, 160);
  font-size: 30px;
  font-weight: 600;
}

.simple-modal-buttons-container {
  height: 200px;

  display: flex;
}

.simple-modal-single-button-container {
  width: 100%;
  height: 100%;
}

.simple-button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  font-weight: 600;

  border: none;
  border-radius: 15px;

  background: repeating-linear-gradient(60deg, rgb(200, 200, 255), rgb(220, 220, 255) 50%, rgb(200, 200, 255));
  color: rgb(100, 100, 100);
}

.simple-button:hover {
  cursor: pointer;
  background: repeating-linear-gradient(60deg, rgb(160, 160, 255), rgb(220, 220, 255), rgb(160, 160, 255));
  color: rgb(80, 80, 80);

  font-size: 15px;

  transition: color 0.25s, font-size 0.25s;
}
