.modal-message-container {
    height: 80px;
    width: 100%;

    font-size: 22px;
}

.modal-players-container {
    height: 240px;
    width: 100%;
}

.modal-buttons-container {
    height: 80px;
    width: 100%;
}

.modal-player-container {
    width: 220px;
    height: 150px;
}

.player-container {
    width: 100%;
    height: 120px;
}

.add-player-button-container {
    width: 100%;
    height: 30px;
}