.empty-card {
    display: flex;
    flex-direction: column;

    height: 150px;
    width: 100px;

    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    color: rgb(160, 160, 160);
}

.empty-card:hover {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  transition: background-color 0.3s;
}

.empty-card-message {
    font-size: 18px;
}