.card {
    display: flex;
    flex-direction: column;

    height: 150px;
    width: 100px;

    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.player-name-container {
    margin-top: 10px;
    width: 100px;
    height: 50px;
  }
  
  .player-rating-container {
    height: 40px;
  }
  
  .player-real-team-container {
      margin-bottom: 10px;
      height: 50px;
  }
  
  .player-name {
      font-size: 18px;
      font-weight: 700;
  }
  
  .player-rating {
      font-size: 18px;
  }
  
  .player-real-team {
      font-size: 12px;
  }