.team-position-component {
    display: flex;
    flex-direction: column;

    width: 800px;
    height: 200px;

    background-color: rgba(200, 200, 200, 1);
    margin-bottom: 10px;
}

.team-position-header {
    width: 800px;
    height: 50px;

    font-size: 16px;
    color: red;
}

.team-position-players {
    display: flex;
    justify-content: space-around;
}